{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12 m12">
            <h5 class="center">Pracownicy</h5>
        </div>
    </div>

    {% if workerCollection is defined and workerCollection.items is not empty %}
        <div class="row">
            <div class="col s12 m12">
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th>Imię i nazwisko</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for worker in workerCollection %}
                        <tr data-id="{{ worker.id }}">
                            <td>{{ worker.name }}</td>
                            <td>{{ worker.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>Brak pracowników do wyświetlenia</p>
    {% endif %}
{% endblock %}